@media (max-width: 767px) {
    #point-1 {
		color: red;
		opacity: 0;
	}
}

#rede-sociais{
    display: flex; 
    flex-direction: column;

    justify-content: center;

    padding: 0.5rem;
    width: 180px;
}

#icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.icon-media {
    margin: 0 15px;
}
#rede-sociais .icon-media img {
    --tamanho-icon: 35px;
    border-radius: 5px;
    height: var(--tamanho-icon);
    width: var(--tamanho-icon);
}

#top-line {    
    top: 0;
}

#bottom-line {
    bottom: 0;
}

#triangle-1 {
    top: 0;
    left: 0;
    border-top-color: var(--decoration-color);
}
#triangle-2 {
    right: 0;
    bottom: -15px;
    border-top-color: var(--triangle-app-color);
}
#triangle-3 {
    top: -15px;
    left: -45px;
    border-top-color: var(--triangle-app-color);
}
#bottom-triangle {
    right: 0;
    bottom: 0;
    border-top-color: var(--decoration-color);
}
#footer{
    padding-bottom: 40px;
}
.privacy-policy {
    width: max-content;
    margin: 0 auto;
    color: #ffffffb2;
}