#rede-sociais{
    display: flex; 
    flex-direction: column;

    justify-content: center;

    padding: 0.5rem;
}

#icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#rede-sociais .icon-media img{
    --tamanho-icon: 25px;

    height: var(--tamanho-icon);
    width: var(--tamanho-icon);
}

#rede-sociais .textinho-top{
    /*! margin-top: 12px; */
    /*! margin-left: 15px; */
    text-align: center;
    padding: 14px;
}

#top-line {    
    top: 0;
}

#bottom-line {
    bottom: 0;
}

#triangle-1 {
    top: 0;
    left: 0;
    border-top-color: var(--decoration-color);
}
#triangle-2 {
    right: 0;
    bottom: -15px;
    border-top-color: var(--triangle-app-color);
}
#triangle-3 {
    top: -15px;
    left: -45px;
    border-top-color: var(--triangle-app-color);
}
#bottom-triangle {
    right: 0;
    bottom: 0;
    border-top-color: var(--decoration-color);
}

#footer{
    padding-bottom: 40px;
}